.hero-section {
  background: url("https://eu-images.contentstack.com/v3/assets/bltdd43779342bd9107/blt1645b96b020bdced/64380d5d8d2c523d0da7467d/543212762.jpg?width=1280&auto=webp&quality=95&format=jpg&disable=upscale") center/cover no-repeat;
  height: 100vh;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 20px;
  margin: 0; 
  text-align: center;
  opacity: 0;
  animation: fadeIn 3s forwards; 
}

.hero-section h1 {
  font-size: 7rem; /* Adjust font size for welcome message */
  margin-bottom: 20px;
  opacity: 0;
  animation: slideIn 2s forwards 0.5s; /* Slide-in and fade-in effect for the title */
  color: white;
}

.hero-section p {
  font-size: 2.5rem; /* Adjust font size for subtitle */
  opacity: 0;
  animation: slideIn 2s forwards 1s; /* Slide-in and fade-in effect for the subtitle */
}

/* Fade-in animation for the entire hero section */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Slide-in and fade-in effect for the title and subtitle */
@keyframes slideIn {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
