/* Container for the login page */
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7f6;
    padding: 20px;
    box-sizing: border-box;
    flex-direction: column;
  }
  
  h1 {
    text-align: center;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
  }
  
  .login-options {
    width: 100%;
    max-width: 450px;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
  }
  
  h2 {
    text-align: center;
    color: #333;
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
    color: #555;
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  /* SMS Form Specific Styling */
  .sms-login-form {
    margin-top: 20px;
  }
  
  .sms-login-form button {
    background-color: #007bff;
  }
  
  .sms-login-form button:hover {
    background-color: #0056b3;
  }
  
  /* Keep me logged in checkbox */
  #keep-logged-in {
    margin-right: 5px;
  }
  
  .email-login-form {
    margin-top: 20px;
  }
  
  .email-login-form button {
    background-color: #007bff;
  }
  
  .email-login-form button:hover {
    background-color: #0056b3;
  }
  