.mantra {
    /* background: rgb(137, 114, 71);  */
    background: white;
    color: rgb(53, 145, 71);
    text-align: center;
    padding: 100px 10px; /* Increased padding for more height */
    margin: 30px 20px 30px;
    border-radius: 8px; /* Keeps the corners rounded */
    font-size: 6rem; /* Adjust font size if needed */
  }
  